/* stylelint-disable selector-id-pattern */

#baguetteBox-overlay button:focus {
  border: 1px solid #00f;
}

#baguetteBox-overlay .full-image figcaption {
  background-color: rgba(0,0,0,.8);
  font-size: 1.25rem;
}

/* stylelint-enable selector-id-pattern */
